@{
    ViewData["Title"] = "Login";
}

<h1>Admin</h1>

<form method="post">
    <input name="login" type="text" placeholder="Имя пользователя"/>
    <input name="password" type="password" placeholder="Пароль"/>
    <button type="submit">Вход</button>
</form>
