
@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>

<form method="post">
    <input type="text" name="name" placeholder="ФИО"/>
    <input type="email" name="email" placeholder="Адрес электронной почты"/>
    <input type="tel" name="phone" placeholder="Контактный телефон"/>
    <button type="submit">Отправить</button>
</form>

